* {
    box-sizing: border-box !important;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    // font-family: "Open Sans", Calibri, 'Trebuchet MS', sans-serif !important;
}


#chart-container {
    width: 90vw;
    height: 90vh;
}

[id^="invalid-"] {
    width: 100px;
}

// Medium devices (tablets)
// @media screen and (min-width: 768px) {

// }

// Large devices (desktops)
@media screen and (min-width: 1200px) {
    #chart-container {
        width: 60%;
        height: 60%;
    }
}   