* {
    box-sizing: border-box !important;;
}

html, body {
    margin: 0 !important;;
    padding: 0 !important;;
    // font-family: "Open Sans", Calibri, 'Trebuchet MS', sans-serif !important;
}


#chart-container {
    // margin: auto;
    width: 100vw;
    height: 100vh;
}


// Medium devices (tablets)
// @media screen and (min-width: 768px) {

// }

// Large devices (desktops)
@media screen and (min-width: 1200px) {
    #chart-container {
        width: 50%;
        height: 50%;
    }
}   